.van-cell{
  font-size: 28px;
  line-height:65px;
  padding: 10px 30px;
}
.van-cell__right-icon{
  font-size: 20px;
  line-height:65px;
  margin-left: 10px;
}
.van-cell--required::before{
  font-size: 28px;
  top:16px;
}
.van-radio__input{
  font-size: 28px;
  position: relative;
}
.van-radio .van-icon-checked{
  color: #4286ed;
}
